header {
    background: url("https://picsum.photos/id/90/1600/800") center center no-repeat;
    background-size: cover;
    height: 800px;
}
header h1 {
    font-size: 80px;
}
header p {
    font-size: 22px;
}

/* about */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
#about h2 {
    font-size: 45px;
}
#about h3 {
    font-size: 28px;
}
/* service */
#service {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);}
#service h2 {
    font-size: 45px;
}
#service h3 {
    font-size: 28px;
}
#service hr {
    border-color: var(--dark);
}